/*
Theme: Midnight ocean 
Background: #17202A
Text: #FDFEFE
Accent: #2980B9 (Blue)
 */
.output-window {
  color: #fff;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfefe;
}

.logo-img {
  width: 40px;
}

.form-wrapper {
  padding: 18px 30px;
  border-radius: 18px;
  width: 400px;
  max-width: 90%;
  background-color: #2980b9;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-room-btn {
  color: #091d3e;
  text-decoration: none;
  transition: all 0.3s;
}

.create-room-btn:hover {
  color: #041227;
  text-decoration: underline;
  transition: all 0.3s;
}

input {
  color: #253f4b;
  background-color: #fdfefe;
  border: none;
  padding: 6px 12px;
  border-radius: 9px;
}

.btn {
  background-color: #091d3e;
  border: none;
  padding: 6px 12px;
  color: #fdfefe;
  font-weight: bold;
  width: 84px;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #041227;
  transition: all 0.3s;
}

/* Editor */
.main-wrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100%; */
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.aside-inner {
  flex: 1;
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 12px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.username {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}
.logo-image {
  height: 60px;
}

.leave-btn {
  width: 100%;
  margin-top: 20px;
}
.join-btn {
  background: #091d3e;
  width: 100px;
  margin-left: auto;
}
.join-btn:hover {
  background: #17202a;
}
.copy-btn {
  color: #fff;
  background-color: #424242;
}

.CodeMirror {
  min-height: calc(100vh-20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.language-select {
  margin-top: 15px;
  margin-bottom: 20px;
}
.select-lang {
  font-size: 18px;
  margin-bottom: 5px !important;
}

.combo-box {
  border: none;
  color: #253f4b;
  outline: none;
  border-radius: 7px;
  padding: 5px 10px;
}

.stdin-textbox {
  margin-bottom: 20px;
}

.label-input {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
}

#stdin-text {
  padding: 5px 10px !important;
  outline: none;
}

.run-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  padding: 5px 30px;
  font-weight: bold;
  border-radius: 9px;
  transition: all 0.3s;
}

.run-btn:hover {
  background-color: #1a4c6d;
  transition: all 0.3s;
}

.leave-btn {
  background-color: #2980b9;
}

.leave-btn:hover {
  background-color: #1a4c6d;
}

.copy-btn {
  width: 100%;
}
.copy-btn:hover {
  background-color: #323232;
}
.output-window {
  margin-left: 20px;
}

.error {
  color: red;
}
